<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Administrator Dashboard</title>
    <link rel="stylesheet" href="/ha_dash.css">
    <link rel="stylesheet" href="/ha_dash_new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="ha_dash_new.js"></script>
</head>

<body id="body-pd">
    <div class="body-style">
        <header class="header" id="header">
            <div class="header_toggle"> <i class="fas fa-bars" id="header-toggle"></i> </div>
            <nav>
                <div class="header-logo">
                    <img class="logo-1" src="../images/tatva_final1.png" alt="Tatv">
                    <span><img class="logo-2" src="../images/logo.png" alt="Banasthali Vidyapith"></span>
                </div>
            </nav>
        </header>
        <header>
            <nav class="header-navigation">
                <ul class="nav-content">
                    <li class="li-items"><a href="/contact">CONTACT US</a></li>
                    <li class="li-items"><a href="/about">ABOUT US</a></li>
                    {{!-- <li class="li-items"><a href="/">HOME</a></li> --}}
                </ul>
            </nav>
        </header>
    </div>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div><a href="#" class="nav_logo"> <i class="fa fa-user" aria-hidden="true"></i> <span
                        class="nav_name"></span> </a>
                <div class="nav_list">
                    <a href="/hadash" class="nav_link active"> <i class="fa fa-th" aria-hidden="true"></i><span
                            class="nav_name">Dashboard</span> </a>
                    <a href="/doctors" class="nav_link"> <i class="fa fa-user-md" aria-hidden="true"></i> <span
                            class="nav_name">Doctors</span> </a>
                    <a href="/upload" class="nav_link"> <i class="fa fa-flask" aria-hidden="true"></i> <span
                            class="nav_name">View Lab Tests</span></a>
                    <a href="/haviewappo" class="nav_link"> <i class="fa fa-medkit" aria-hidden="true"></i> <span
                            class="nav_name">View Appointments</span> </a>
                </div>
            </div>
            <a href="/auth/logout" class="nav_link"><i class="fas fa-sign-out-alt"></i> <span class="nav_name">Sign Out</span> </a>
        </nav>
    </div>



    <h1>Today's Appointments</h1>
    <table class="body-table1" id="dash-table1">

        <tr>
            <td id="th1" colspan="8">Doctor's Appointments</td>
        </tr>

        <tr>
        <tr>
            <th id="th2">Token NO.</th>
            <th>Name</th>
            <th>Banasthali ID</th>
            <th>Doctor</th>
            <th>Problem</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
        </tr>

        <tbody>
            {{#each rows}}
            <tr>
                <td>{{this.token}}</td>
                <td>{{this.Name}}</td>
                <td>{{this.Bv_Id}}</td>
                <td>{{this.doc_name}}</td>
                <td>{{this.problem}}</td>
                <td>{{this.doc_day}}</td>
                <td>{{this.doc_time1}}-{{this.doc_time2}}</td>
                {{!-- <td>{{this.status}}</td> --}}
                <td><input type="radio" name="status" value="Visited">Visited<br>
                    <input type="radio" name="status" value="Not Visited">Not Visited
                </td>
            </tr>
            {{/each}}
        </tbody>

        {{!-- <tr id="tr1">
            <td>1</td>
            <td>XYZ</td>
            <td>ABC</td>
            <td>21-02-2022</td>
            <td>3:15</td>
            <td><input type="radio" name="status" value="Visited">Visited<br>
                <input type="radio" name="status" value="Not Visited">Not Visited
            </td>
        </tr> --}}


    </table>

    {{!-- second table --}}
    <table class="body-table2" id="dash-table1">
        <tr>
            <td id="th1" colspan="8">Lab Tests Appointments</td>
        </tr>
        <tr>
        <tr>
            <th id="th2">Token NO.</th>
            <th>Name</th>
            <th>Banasthali ID</th>
            <th>Test_Id</th>
            <th>Test Name</th>
            <th>Date</th>
            <th>Status</th>
            <th>Report</th>

        </tr>
        </tr>
        <tbody>
            {{#each result}}
            <tr>
                <td>{{this.Lab_token}}</td>
                <td>{{this.Name}}</td>
                <td>{{this.Banasthali_Id}}</td>
                <td>{{this.Test_ID}}</td>
                <td>{{this.test_name}}</td>
                <td>{{this.Date}}</td>
                {{!-- <td>{{this.appoint_status}}</td>
                <td>{{this.lab_report}}</td> --}}
                {{!-- <td><input type="radio" name="status" value="Visited">Visited<br>
                    <input type="radio" name="status" value="Not Visited">Not Visited
                </td> --}}
                <td>
                    <form action=method="POST" action="/auth/upload">
                        <input type="radio" name="status" value="{{this.Status}}">Visited<br>
                        <input type="radio" name="status" value="{{this.Status}}">Not Visited
                        {{!-- <button class="btn" type="submit">Submit</button> --}}
                    </form>

                </td>
                <td>
                    <form action="/auth/upload" enctype="multipart/form-data" method="POST">
                        <input type="file" name="pdf" accept=".pdf" />
                        <input type="submit" value="Upload">
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
        {{!-- <tr>
            <td>1</td>
            <td>XYZ</td>
            <td>Haemoglobin</td>
            <td>Urine</td>
            <td>Blood</td>
            <td>21-02-2022</td>
            <td>3:15</td>
            <td><input type="radio" name="status" value="Visited">Visited<br>
                <input type="radio" name="status" value="Not Visited">Not Visited
            </td>
        </tr> --}}
    </table>


    </div>
</body>

</html>