<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="../ha_dash.css">
    <link rel="stylesheet" href="../ha_dash_new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="../ha_dash_new.js"></script>
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
</head>

<body id="body-pd">
    <div class="body-style">
        <header class="header" id="header">
            <div class="header_toggle"> <i class="fas fa-bars" id="header-toggle"></i> </div>
            <nav>
                <div class="header-logo">
                    <img class="logo-1" src="../images/tatva_final1.png" alt="Tatv">
                    <span><img class="logo-2" src="../images/logo.png" alt="Banasthali Vidyapith"></span>
                </div>
            </nav>
        </header>
        <header>
            <nav class="header-navigation">
                <ul class="nav-content">
                    <li class="li-items"><a href="/contact">CONTACT US</a></li>
                    <li class="li-items"><a href="/about">ABOUT US</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">

            <div><a href="/auth/editUser" class="nav_logo"> <i class="fa fa-user" aria-hidden="true"></i> <span class="nav_name"></span> </a>
                <div class="nav_list">
                    <a href="/auth/stud_dash" class="nav_link active"> <i class="fa fa-th" aria-hidden="true"></i><span
                            class="nav_name">Dashboard</span> </a>
                    <a href="/auth/bookAppointment" class="nav_link "> <i class="fa fa-user-md" aria-hidden="true"></i>
                        <span class="nav_name">Appointment</span> </a>
                    <a href="/auth/bookLabTest" class="nav_link"> <i class="fa fa-flask" aria-hidden="true"></i> <span
                            class="nav_name">Lab Test</span></a>
                </div>
            </div>
            <a href="/auth/logout" class="nav_link"><i class="fas fa-sign-out-alt"></i> <span class="nav_name">Sign
                    Out</span> </a>
        </nav>
    </div>



    <table class="body-table1" id="dash-table1">

        <tr>
            <td id="th1" colspan="7">Doctor's Appointments</td>
        </tr>

        <tr>
        <tr>
            <th id="th2">Name</th>
            <th>Banasthali Id</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Problem</th>
        </tr>
        </tr>

        <tbody>
            {{#each rows}}
            <tr id="tr1">
                <td>{{this.Name}}</td>
                <td>{{this.Bv_Id}}</td>
                <td>{{this.doc_name}}</td>
                <td>{{this.doc_day}}</td>
                <td>{{this.doc_time1}}-{{this.doc_time2}}</td>
                <td>{{this.Status}}</td>
                <td>{{this.problem}}</td>
            </tr>
            {{/each}}
        </tbody>

    </table>
    <table class="body-table2" id="dash-table1">
        <tr>
            <td id="th1" colspan="8">Lab Tests Appointments</td>
        </tr>
        <tr>
        <tr>
            <th id="th2">Name</th>
            <th>Banasthali ID</th>
            <th>Test ID</th>
            <th>Test Name</th>
            <th>Date</th>
            <th>Lab Report</th>
        </tr>
        </tr>
        <tbody>
            {{#each result}}
            <tr>
                <td>{{this.Name}}</td>
                <td>{{this.Banasthali_Id}}</td>
                <td>{{this.Id}}</td>
                <td>{{this.test_name}}</td>
                <td>{{this.Date}}</td>
                <td>{{#if this.Report}}
                    <a href="../images/{{this.Report}}" target="_blank">Lab Report_{{this.Name}}</a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>


    </div>
</body>

</html>