<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lab.css">
    <script src="/lab.js"></script>
    <link rel="stylesheet" href="/dashboard.css">
    <script src="/dashboard.js"></script>
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .btn {
            background-color: #6d350f;
            color: #fffcf5;

        }

        .fa-upload {
            color: #6d350f;
        }

        #test {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #test td,
        #test th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #test tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #test tr:hover {
            background-color: #ddd;
        }

        #test th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #6C340F;
            color: white;
        }
    </style>
    <title>Lab Tests</title>
</head>

<body id="body-pd">
    <div class="body-style">
        <header class="header" id="header">
            <div class="header_toggle"> <i class="fas fa-bars" id="header-toggle"></i> </div>
            <nav>
                <div class="header-logo">
                    <img class="logo-1" src="../images/tatva_final1.png" alt="Tatv">
                    <span><img class="logo-2" src="../images/logo.png" alt="Banasthali Vidyapith"></span>
                </div>
            </nav>
        </header>
        <header>
            <nav class="header-navigation">
                <ul class="nav-content">
                    <li class="li-items"><a href="/contact">CONTACT US</a></li>
                    <li class="li-items"><a href="/about">ABOUT US</a></li>
                    {{!-- <li class="li-items"><a href="/">HOME</a></li> --}}
                </ul>
            </nav>
        </header>
    </div>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div><a href="/auth/editHa" class="nav_logo"> <i class="fa fa-user" aria-hidden="true"></i> <span
                        class="nav_name"></span> </a>
                <div class="nav_list">
                    <a href="/hadash" class="nav_link"> <i class="fa fa-th" aria-hidden="true"></i><span
                            class="nav_name">Dashboard</span> </a>
                    <a href="/test" class="nav_link"> <i class="fa fa-user-md" aria-hidden="true"></i> <span
                            class="nav_name">Doctor</span> </a>
                    <a href="/upload" class="nav_link active"> <i class="fa fa-flask" aria-hidden="true"></i> <span
                            class="nav_name">View Lab Test</span></a>
                    <a href="/haviewappo" class="nav_link"> <i class="fa fa-medkit" aria-hidden="true"></i> <span
                            class="nav_name">View Appointments</span> </a>
                </div>
            </div>
            <a href="/auth/logout" class="nav_link"><i class="fas fa-sign-out-alt"></i> <span class="nav_name">Sign
                    Out</span> </a>
        </nav>
    </div>
    <h2>Lab Test Records</h2>
    </div class="alert-container">
    {{#if message }}
    <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
    </div>
    {{#if alert}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{alert}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    <table id="labtest">
        <tr>
            <th>Token</th>
            <th>Name</th>
            <th>Banasthali ID</th>
            <th>Test_Id</th>
            <th>Test Name</th>
            <th>Date</th>
            <th>Report</th>
        </tr>
        {{#each rows}}
        <tr>
            <td>{{this.Lab_token}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Banasthali_Id}}</td>
            <td>{{this.Test_ID}}</td>
            <td>{{this.test_name}}</td>
            <td>{{this.Date}}</td>
            <td><a href="/labstatus/{{this.Lab_token}}"><i class="fas fa-edit"></i></a>&nbsp{{this.Status}}</td>
            </td>
        </tr>
        {{/each}}
        </tr>
    </table>
</body>

</html>